.jumbotron {
    background-image: url(img/card1.jpg);
    background-size: cover;
    background-position: 0% -47% ;
}
img {
    width: 12vh;
    margin-right: 0px!important;
}
#redesSociales {
    display: flex;
    justify-content: center;
}
.rounded {
    margin: 10px 15px;
    width: 8vh;
}
#copyright {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 10px;
}
#contenedor {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

#productosSeleccionados img {
    width: 25vh;
}
#contenedor-button {
    display: block;
    justify-content: center;
    align-self: center;

}

#dropdownMenuButton img {
    width: 5vh;
}